{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <!-- Show the 'topper' entry at the top, no matter what -->
    {% set topper = site.get("/digital-hearth") %}
    <div class="blog-summary">
        <a href="{{ topper|url }}"><h2>{{ topper.title }}</h2></a>
        <p>{{ topper.summary }}</p>
    </div>
    {% set blogroot = site.get("/") %}
    {% for entry in blogroot.children %}
        <!-- Skip the 'topper' that has already been shown -->
        {% if entry != topper %}
            <div class="blog-summary">
                <a href="{{ entry|url }}"><h2>{{ entry.title }}</h2></a>
                <p>{{ entry.summary }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
