<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tealok Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <a href="https://www.tealok.tech">
                    <img src="{{ '/static/TLOKlogo7.png'|url }}" alt="Tealok Logo">
                </a>
            </div>
            <h1 class="blog-title">Tealok Blog</h1>
        </div>
    </header>
    <section class="body">
        {% block body %}{% endblock %}
    </section>
    <footer class="footer">
        <div>
            <p>&copy; <span id="year"></span> Gleipnir LLC. All rights reserved.</p>
            <div class="social-section">
                <p>Follow us:</p>
                <a href="https://www.linkedin.com/company/tealok" target="_blank">LinkedIn</a> |
                <a href="https://www.instagram.com/tealok.tech/" target="_blank">Instagram</a>
            </div>
        </div>
    </footer>
    <script>
        document.getElementById('year').textContent = new Date().getFullYear();
    </script>
</body>
</html>

