<!doctype html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
	<link rel="shortcut icon" type="image/png" href="{{ '/static/favicon.png'|url }}">
	<title>{% block title %}Tealok Blog{% endblock %}</title>
</head>
<body>
	<section class="layout">
		<div class="header">
			<img src="{{ '/static/logo-no-words.png'|url }}"/>
			<h1 class="grow">Tealok Blog</h1>
		</div>
		<div class="leftSide">
		</div>
		<div class="body">
			{% block body %}{% endblock %}
		</div>
		<div class="rightSide">
			{% include "nav.html" %}
		</div>
		<div class="footer">
			&copy; Copyright 2024 by Gleipnir LLC
		</div>
	</section>
</body>
