/* General Styles */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c1dffda4;
}

/* Header Styles */
.header {
    grid-area: header;
    background-image: url('/static/footerimage.png'); /* Use the footer image for the header */
    background-size: cover;
    background-position: center;
    text-align: left;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 80px; /* Adjust the height of the logo */
    width: auto;
    padding: 5px;
}

.blog-title {
    font-size: 3.5rem;
    margin: 0;
	color: #ec57cc;
}

/* Body Styles */
.body {
    grid-area: body;
    padding: 20px;
}

/* Footer Styles */
.footer {
    grid-area: footer;
    background-image: url('/static/footerimage.png'); /* Reuse the same footer image */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: rgba(224, 247, 250, 0.8); /* Very light blue background color with some transparency */
    border-top: 1px solid #ccc;
}

.social-section {
    margin-top: 10px;
}

.social-section a {
    color: #00796b;
    text-decoration: none;
}

.social-section a:hover {
    text-decoration: underline;
}

/* Miscellaneous Styles */
.leftSide {
    grid-area: leftSide;
}

.body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
